.container {
  max-width: 400px;
  margin: auto;
  text-align: center;
  color: white;
}

.profile-pic {
  width: 120px;
  height: 120px;
  background: #444;
  border-radius: 50%;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.dataNascimento {
  width: 100%;
  background: #222;
  --border-radius: 8px !important;
}

.foto-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-photo {
  margin: 10px 0;
  color: #bbb;
  cursor: pointer;
}

.continue {
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #ff4e4e;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.bio-textarea {
  width: 100%;
  min-height: 100px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background-color: #2e2e2e;
  color: #fff;
  resize: none;
  font-size: 1rem;
}

.continue {
  width: 100%;
  padding: 12px;
  background-color: #ff4e4e;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}