/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #1f1f1f;
  color: #f0f0f0;
}

/* Container centralizado */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

/* Header */
header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #ffffff;
}

/* Caixa de login */
.login-box {
  background-color: #2b2b2b;
  padding: 30px 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Título */
.login-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.4rem;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error-message {
  margin-top: 4px;
  margin-bottom: 2px;
  padding: 3px 0 3px 8px;
  border-left: 3px solid rgba(245, 61, 61, 0.8);
  color: #ffb3b3;
  font-size: 0.8rem;
}

.error-message small::before {
  content: "";
}

/* Inputs */
input[type="text"],
input[type="password"] {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #444;
  color: #fff;
  font-size: 1rem;
}

input::placeholder {
  color: #bbb;
}

/* Botões */
.login-btn {
  font-family: 'Roboto', sans-serif;
  color: white;   
  --border-radius: 7px;  
  --background: rgb(129, 44, 44);           
  font-size: 1rem;
  font-weight: bold;     
}

.register-btn {
  --background: #555;
  font-family: 'Roboto', sans-serif; 
  --border-radius: 7px;
    font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}

/* Separador */
.separator {
  text-align: center;
  margin: 20px 0;
  color: #aaa;
  font-size: 0.9rem;
}

/* Responsividade */
@media (max-width: 480px) {
  .login-box {
    padding: 20px;
  }

  header {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
.main,
.editar-perfil,
.titulo,
label,
input,
textarea,
span {
  color: white;
}

  
}
